<h1><center> Índice </center></h1>

<tbody>
<p style = "margin: 20px; border:2px solid gray;">
<ul style = "margin: 20px; border:2px solid gray;">
    <% @secciones.each do |seccion| %>
        <li><%= seccion.nombre %></li> 
    <% end %>
</ul>
</p>         

</tbody>