<h1><center> Índice </center></h1>

<tbody>

<%= link_to "games", '/secciones/1' %>

<% @secciones.each do |seccion| %>
    <p style = "margin: 20px; border:2px solid gray;">
        <b><%= seccion.nombre %></b> 
        <%= link_to "o", seccion %>
        
    </p> 
<% end %>

</tbody>