<h1>Detalles del Post lmao</h1>
<p style = "margin: 20px; border:2px solid gray;">
    <b><%= @post.title %></b> 
    
    <%#= link_to "Eliminar", @post, method: :delete, data: { confirm: "¿Estás seguro de eliminar este post?" } %>  
    <br>
    <%= @post.content %>
    <br>
    BOARD ID: <%#= @post.board_id %>
</p> 